{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },
  "rules": {
    "linebreak-style": [0],
    "max-len": [1, 150],
    "global-require": [1],
    "import/no-extraneous-dependencies": [1],
    "import/prefer-default-export": [1],
    "no-bitwise": [1],
    "consistent-return": [1],
    "array-callback-return": [1],
    "no-param-reassign": [1],
    "no-throw-literal": [1],
    "no-underscore-dangle": [1],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/forbid-prop-types": [1],
    "jsx-a11y/anchor-has-content": [1]
  }
}
